*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body{
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
	background-repeat: no-repeat !important;
}

.image-slider{
	position: relative;
	top: 0;
	left: 0;
	width: 60%;
	max-width: 1000px;
	height: 60vh;
	margin: calc(20vh - 10px) auto;
	border: 10px solid #fff;

	@media screen and (max-width: 550px) {
		width: 80%;
	}

	#src-image{
		width: 100%;
		height: 100%;
	}

	.arrow-buttons{
		cursor: pointer;
		
		#left-arrow, #right-arrow{
			position: absolute;
			top: calc(50% - 16px);
		}

		#left-arrow{
			left: 20px;
			transition: .3s all;

			&:hover{
				left: 15px;	
			}

		}

		#right-arrow{
			right: 20px;
			transition: .3s all;

			&:hover{
				right: 15px;	
			}
		}
	}	
}